.events {

  &__title {
    margin-bottom: 21px
  }

  &__next {
    position: absolute;
    right: 28px;
    top: 59.1%;
    z-index: 10;
    transform: translateY(-50%);
  }

  &__prev {
    position: absolute;
    left: 32px;
    top: 56%;
    z-index: 10;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }

  &__inner {
    display: flex;
  }

  &__item {
    width: 500px;
    max-width: 100%;
    height: auto;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &-title {
      margin: 0;
      margin-bottom: 3px;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: var(--color-mine-shaft);
    }

    &-text {
      margin: 0;
      margin-bottom: 79px;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: var(--color-mine-shaft);
    }

    &-link {
      display: inline-block;
      padding-bottom: 3px;
      border-bottom: 1px solid currentColor;
    }
  }

  &__img {
    margin-bottom: 8px;
  }

  &__item-info {
    border-bottom: 1px solid var(--color-gallery);
    border-left: 1px solid var(--color-gallery);
    border-right: 1px solid var(--color-gallery);
    padding: 0 50px;
  }

  &__sub-text {
    display: inline-block;
    padding: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-dusty-gray);
  }
}

.events__slider {
  position: relative;
  overflow: hidden;

  &__btn {
    @include flex-all-center;

    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: var(--color-gallery);
    color: var(--color-black);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    svg {
      position: absolute;
      display: block;
      width: 19px;
      height: 18px;
      color: inherit;
      -o-object-fit: cover;
      object-fit: cover;
      right: 13px;
      top: 16px;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 1px;
      background-color: var(--color-gallery);
    }

    &:hover {
      background-color: var(--color-biloba);
    }

    &:active {
      border: 2px solid var(--color-primary);
      background-color: var(--color-biloba);
    }
  }
}

.swiper-button-disabled {
  display: none;
}
