.events {

  &__title {
    margin-bottom: 21px
  }

  &__next {
    position: absolute;
    right: 28px;
    top: 56%;
    z-index: 10;
    transform: translateY(-50%);
  }

  &__prev {
    position: absolute;
    left: 32px;
    top: 54%;
    z-index: 10;
    transform: translateY(-50%);
    transform: rotate(180deg);
  }

  &__inner {
    display: flex;

    @include tablet {
      margin-bottom: 23px;
    }
  }

  &__img {
    height: 100%;
    max-height: 300px;

    @include tablet {
      height: 200px;
    }
  }

  &__item {
    max-width: 100%;
    width: 500px;

    &-title {
      margin: 0;
      margin-top: 12px;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: var(--color-mine-shaft);

      @include tablet {
        margin-top: 3px;
      }
    }

    &-text {
      margin: 0;
      margin-top: 3px;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: var(--color-mine-shaft);

      @include tablet {
        margin-top: 8px
      }
    }

    &-link {
      position: absolute;
      display: inline-block;
      left: 51px;
      bottom: 39px;
      padding-bottom: 0;
      border-bottom: 1px solid currentColor;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: var(--color-primary);
      transition: color .3s ease-in-out;

      &:hover {
        color: var(--color-purple);
      }

      &:focus {
        color: var(--color-mine-shaft);
      }

      @include tablet {
        left: 33px;
        bottom: 48px;
      }
    }

    @include tablet {
      width: 290px !important;
    }

  }

  &__item-info {
    position: relative;
    height: 396px;
    border-bottom: 1px solid var(--color-gallery);
    border-left: 1px solid var(--color-gallery);
    border-right: 1px solid var(--color-gallery);
    padding: 0 50px;

    @include big-tablet {
      padding: 0 34px;
      height: 483px;
    }

    @include tablet {
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      height: 479px;
    }
  }

  &__sub-text {
    margin-top: 11px;
    display: inline-block;
    padding: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-dusty-gray);

    @include tablet {
      text-align: end;
    }
  }
}

.events__slider {
  position: relative;
  overflow: hidden;

  .swiper-button-disabled {
    display: none;
  }

  &-btn {
    @include flex-all-center;

    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: var(--color-gallery);
    color: var(--color-black);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    svg {
      position: absolute;
      display: block;
      width: 19px;
      height: 18px;
      color: inherit;
      -o-object-fit: cover;
      object-fit: cover;
      right: 13px;
      top: 16px;
    }

    &:hover {
      background-color: var(--color-biloba);
    }

    &:active {
      border: 2px solid var(--color-primary);
      background-color: var(--color-biloba);
    }

    @include tablet {
      display: none;
    }
  }
}

.swiper-pagination-events {
  position: relative;
  display: none;
  bottom: 0;

  @include tablet {
    display: block;
  }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}

.swiper-pagination-bullet {
  background-color: var(--color-silver);

  &-active {
    background-color: var(--color-dove-gray);
  }
}
