.footer {
  padding: 45px 0;
  background-color: var(--color-black);

  &__container {
    @include flex-all-sb;

    height: 100%;

    @include small-mobile {
      flex-direction: column-reverse;
    }
  }

  &__logo {
    @include small-mobile {
      height: 22px;
      width: 97px;
    }
  }

  @include tablet {
    padding: 38px 0;
  }

  @include small-mobile {
    padding: 20px;
  }

}

.social {

  &__list {
    display: flex;
    margin-right: 3px;
    margin-top: 2px;

    @include small-mobile {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 17px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @include tablet {
      margin-right: 28px;
    }

    @include small-mobile {
      margin-right: 30px;
    }
  }

  &__link {
    color: var(--color-dusty-gray);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--color-light);
    }

    &:active {
      color: var(--color-primary);
    }

    svg {
      @include tablet {
        width: 60px;
        height: 60px;
      }

      @include small-mobile {
        width: 50px;
        height: 50px;
      }
    }

  }
}
