.gallery {
  background-image: url("../img/gallery-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--color-light);

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include small-tablet {
      flex-direction: column;
    }
  }

  &__left {
    max-width: 100%;
    flex-basis: 400px;
    margin-right: 50px;

    @include tablet {
      width: 100%;
      flex-basis: unset;
      max-width: 280px;
    }

    @include mobile {
      width: 100%;
      max-width: 300px;
    }

    &-bottom {
      position: absolute;
      bottom: 10px;

      @include tablet {
        bottom: 48px;
      }

      @include small-tablet {
        position: initial;
        margin-top: 50px
      }

      @include small-mobile {
        margin-top: 37px;
      }
    }
  }

  &__img {
    @include tablet {
      height: 330px;
    }

    @include small-mobile {
      height: 367px;
    }
  }

  &__title {
    margin-bottom: 28px;
    color: var(--color-light);

    @include small-mobile {
      margin-bottom: 21px;
    }
  }

  .choices {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    margin-bottom: 40px;
    transition: transform .3s ease-in-out;

    @include small-mobile {
      margin-bottom: 0;
    }
  }

  .choices__inner {
    display: flex;
    align-items: center;
    background-color: transparent;
    min-height: 40px;
    padding: 5px 0 5px 10px;
    border-radius: 6px;
    border-color: var(--color-light);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .choices[data-type*="select-one"]:after {
    top: inherit;
    right: 16px;
    height: 8px;
    width: 8px;
    border-style: none;
    border-bottom: 1px solid var(--color-light);
    border-right: 1px solid var(--color-light);
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
  }

  .choices[data-type*="select-one"].is-open:after {
    margin-top: 0;
    border-color: var(--color-light);
    transform: rotate(-135deg);
  }

  .choices[data-type*="select-one"] .choices__inner {
    padding-bottom: 5px;
  }

  .choices__placeholder {
    color: var(--color-light);
    font-size: 16px;
    opacity: 1;
  }

  .choices__item--selectable:after {
    display: none;
  }

  .is-open .choices__inner {
    border-radius: 6px;
  }

  .choices__list--dropdown {
    background-color: transparent;
    border-radius: 6px;
  }

  .choices__item:not(:last-child) {
    border-bottom: 1px solid var(--color-light);
  }

  .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
  }

  .choices__list--dropdown .choices__item {
    padding-left: 15px;
    font-size: 16px;
    color: var(--color-silver);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .is-selected {
    display: none;
  }
}
