.header-select {
  position: relative;
  user-select: none;

  &:not(:last-child) {
    margin-right: 101px;

    @include big-desktop {
      margin-right: 70px;
    }

    @include big-tablet {
      margin-right: 50px;
    }
  }

  &__top {
    @include flex-all-sb;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
    color: var(--color-light);
    transition: all 0.3s ease-in-out;

    svg {
      display: block;
      margin-left: 2px;
      width: 10px;
      height: 10px;
      fill: currentColor;
      object-fit: cover;
      transform: rotate(90deg);
      transition: transform 0.3s ease-in-out, fill 0.3s ease-in-out;
    }

    &:hover {
      color: var(--color-primary);

      @include mobile {
        color: var(--color-light);
      }
    }

    &:active {
      color: var(--color-purple);
    }
  }

  &__dropdown {
    position: absolute;
    left: -40px;
    top: 46px;
    display: none;
    padding: 40px 20px 40px 40px;
    background-color: var(--color-dove-gray);
    opacity: 0;
  }

  &__list {
    width: 240px;
    max-height: 220px;
  }

  &__item {
    display: block;
    padding: 10px 15px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-light);
    transition: color .3s ease-in-out;

    &:hover {
      color: var(--color-primary);
    }

    &:active {
      color: var(--color-purple);
    }
  }

  &--showed .header-select__dropdown {
    display: block;
    opacity: 1;
    transition: 0.5s ease-in-out;
    animation: show 0.5s 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }

  &--showed .header-select__top {
    svg {
      transform: rotate(-90deg);
    }
  }
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--color-mine-shaft);
}

.simplebar-mask {
  margin-right: 20px;
}

.simplebar-content {
  padding: 0 !important;
}

.simplebar-scrollbar {
  background-color: var(--color-primary);
}


.header-select__item--1 {
  background-image: url("../img/drop-downs/drop-down1/drop-down-img1.jpg");
}

.header-select__item--2 {
  background-image: url("../img/drop-downs/drop-down1/drop-down-img2.jpg");
}

.header-select__item--3 {
  background-image: url("../img/drop-downs/drop-down1/drop-down-img3.jpg");
}

.header-select__item--4 {
  background-image: url("../img/drop-downs/drop-down1/drop-down-img4.jpg");
}

.header-select__item--5 {
  background-image: url("../img/drop-downs/drop-down2/drop-down-img1.jpg");
}

.header-select__item--6 {
  background-image: url("../img/drop-downs/drop-down2/drop-down-img2.jpg");
}

.header-select__item--7 {
  background-image: url("../img/drop-downs/drop-down2/drop-down-img3.jpg");
}

.header-select__item--8 {
  background-image: url("../img/drop-downs/drop-down2/drop-down-img4.jpg");
}

.header-select__item--9 {
  background-image: url("../img/drop-downs/drop-down3/drop-down-img1.jpg");
}

.header-select__item--10 {
  background-image: url("../img/drop-downs/drop-down3/drop-down-img2.jpg");
}

.header-select__item--11 {
  background-image: url("../img/drop-downs/drop-down3/drop-down-img3.jpg");
}

.header-select__item--12 {
  background-image: url("../img/drop-downs/drop-down3/drop-down-img4.jpg");
}

.header-select__item--13 {
  background-image: url("../img/drop-downs/drop-down4/drop-down-img1.jpg");
}

.header-select__item--14 {
  background-image: url("../img/drop-downs/drop-down4/drop-down-img2.jpg");
}

.header-select__item--15 {
  background-image: url("../img/drop-downs/drop-down4/drop-down-img3.jpg");
}

.header-select__item--16 {
  background-image: url("../img/drop-downs/drop-down4/drop-down-img4.jpg");
}

.header-select__item--17 {
  background-image: url("../img/drop-downs/drop-down5/drop-down-img1.jpg");
}

.header-select__item--18 {
  background-image: url("../img/drop-downs/drop-down5/drop-down-img2.jpg");
}

.header-select__item--19 {
  background-image: url("../img/drop-downs/drop-down5/drop-down-img3.jpg");
}

.header-select__item--20 {
  background-image: url("../img/drop-downs/drop-down5/drop-down-img4.jpg");
}
