.partners__slider {
  overflow: hidden;

  &-container {
    position: relative;
    padding: 0 75px;

    @include full-desktop {
      padding: 0 50px;
    }

    @include tablet {
      padding: 0 53px;
    }

    @include tablet {
      padding: 0 47px;
    }
  }

  &-title {
    margin: 0;
    margin-bottom: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-mine-shaft);

    @include tablet {
      margin-bottom: 24px;
    }

    @include small-tablet {
      margin-bottom: 29px;
    }

    @include small-mobile {
      font-size: 18px;
      margin-bottom: 11px;
    }
  }

  &-next {
    position: absolute;
    right: 3px;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);

    @include small-mobile {
      right: 0;
    }
  }

  &-prev {
    position: absolute;
    left: 0;
    top: 40%;
    z-index: 10;
    transform: translateY(-50%);
    transform: rotate(180deg);

    @include small-mobile {
      top: 27%;
    }
  }

  &-btn {
    border: none;
    cursor: pointer;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: var(--color-gallery);
    color: var(--color-black);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    svg {
      position: absolute;
      display: block;
      width: 7px;
      height: 10px;
      color: inherit;
      -o-object-fit: cover;
      object-fit: cover;
      right: 10px;
      top: 10px;
    }

    &:focus {
      outline: 2px solid var(--color-primary);
      outline-offset: 1px;
      background-color: var(--color-gallery);
    }

    &:hover {
      background-color: var(--color-biloba);
    }

    &:active {
      border: 2px solid var(--color-primary);
      background-color: var(--color-biloba);
    }
  }

  &-item {
    @include flex-all-center;

    border: 1px solid var(--color-silver);
    max-width: calc((100% - 106px) / 3);
    height: 150px;
    cursor: pointer;
    background: var(--color-light);
    transition: all 0.3s ease-in-out;


    &:hover .partners__slider-img {
      filter: none;
      opacity: 1;
      transition: opacity .3s;
    }

    &:active {
      border: 1px solid var(--color-primary);
    }

    @include tablet {
      height: 126px;
      max-width: calc((100% - 55px) / 2);
    }

    @include small-tablet {
      max-width: calc((100% - 40px) / 2);
      height: 106px;
    }

    @include small-mobile {
      max-width: 99%;
      height: 63px;
    }
  }

  &-img-wrapper {
    @include flex-all-center;

    padding: 40px 10px;
    height: 100%;
    width: 100%;

    @include small-tablet {
      padding: 10px 5px;
    }
  }

  &-img {
    display: block;
    filter: grayscale(100%);
    opacity: 0.5;

    &:hover {
      filter: none;
      opacity: 1;
      transition: opacity .3s ease-in-out;
    }

    @include tablet {
      max-height: 49px;
      max-width: 80%;
    }

    @include small-tablet {
      max-height: 52px
    }

    @include small-mobile {
      max-height: 25px
    }
  }
}
