.project {
  &__title {
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 18px;
    max-width: 1080px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-mine-shaft);

    @include small-tablet {
      margin-bottom: 27px;
    }
  }

  &__link {
    font-weight: 600;
    color: var(--color-heliotrope);

    &:hover {
      color: var(--color-primary);
      text-decoration: underline;
      transition: color .3s ease-in-out, text-decoration .3s ease-in-out;
    }

    &:focus {
      color: var(--color-purple);
      text-decoration: underline;
      transition: color .3s ease-in-out;
    }
  }
}
