@mixin hover {
  text-decoration: none;
  color: var(--color-heliotrope);
}

@mixin focus {
  outline: 2px solid var(--color-biloba);
  text-decoration: none;
}

@mixin active {
  @include mobile {
    color: var(--color-biloba);
  }
}

@mixin sliderBtnHover {
  border-color: var(--color-primary);
  background-color: var(--color-primary);

  &::after {
    color: var(--color-light);
  }
}

@mixin sliderBtnFocus {
  border-color: var(--color-purple);
}

@mixin sliderBtnActive {
  @include mobile {
    border-color: var(--color-biloba);
    background-color: var(--color-purple);
  }
}

@mixin hoverBtn {
  background-color: var(--color-primary);

  span {
    color: var(--color-light);
  }
}

@mixin focusBtn {
  span {
    @include focus;
  }
}

@mixin activeBtn {
  @include mobile {
    border-color: var(--color-biloba);
    background-color: var(--color-purple);

    span {
      color: var(--color-light);
    }
  }
}
