<section class="contacts">
  <div class="container section-container--contacts">
    <div class="contacts__inner">
      <div class="contacts-left">
        <address class="contacts__address">
          <span class="contacts__address-title">Шоурум №4</span>
          <span class="contacts__address-span">Леонтьевский переулок, дом 5/1</span>
        </address>
      </div>
      <form class="form contacts-form">
        <label class="contacts-form__label">
          <input type="text" name="Имя" class="input-reset contacts-form__input" placeholder="Имя*">
        </label>
        <label class="contacts-form__label">
          <input type="tel" name="tel" class="input-reset contacts-form__input" placeholder="Телефон*">
        </label>
        <button class="btn-reset contacts-form__btn" type="submit">Заказать обратный звонок</button>
      </form>
      <div class="contacts-social social">
        <h3 class="social__title">Связаться в один клик</h3>
      </div>
    </div>
  </div>
</section>
