<section class="events" id="events">
  <div class="container section-container--events events__slider">
    <h2 class="events__title title">События</h2>
    <div class="events__inner swiper-wrapper">
      <article class="events__item swiper-slide">
        <img src="../img/events/event-1.jpg" class="events__img" alt="Событие картина">
        <div class="events__item-info">
          <time datetime="2021-03-20" class="events__sub-text">Музей им. Щусева <br> с 20 марта по 30 апреля</time>
          <h3 class="events__item-title">Книжная гравюра в живом восприятии</h3>
          <p class="events__item-text" data-simplebar data-simplebar-auto-hide="false">
            Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили
            его брат Давид и сын Ридольфо.
          </p>
          <a href="#gallery" class="events__item-link">Подробнее</a>
        </div>
      </article>
    </div>
    <div class="events__inner swiper-wrapper">
      <article class="events__item swiper-slide">
        <img src="../img/events/event-1.jpg" class="events__img" alt="Событие картина">
        <div class="events__item-info">
          <time datetime="2021-03-20" class="events__sub-text">Музей им. Щусева <br> с 20 марта по 30 апреля</time>
          <h3 class="events__item-title">Книжная гравюра в живом восприятии</h3>
          <p class="events__item-text" data-simplebar data-simplebar-auto-hide="false">
            Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили
            его брат Давид и сын Ридольфо.
          </p>
          <a href="#gallery" class="events__item-link">Подробнее</a>
        </div>
      </article>
    </div>
    <div class="events__inner swiper-wrapper">
      <article class="events__item swiper-slide">
        <img src="../img/events/event-1.jpg" class="events__img" alt="Событие картина">
        <div class="events__item-info">
          <time datetime="2021-03-20" class="events__sub-text">Музей им. Щусева <br> с 20 марта по 30 апреля</time>
          <h3 class="events__item-title">Книжная гравюра в живом восприятии</h3>
          <p class="events__item-text" data-simplebar data-simplebar-auto-hide="false">
            Один из ведущих флорентийских художников Кватроченто, основатель художественной династии, которую продолжили
            его брат Давид и сын Ридольфо.
          </p>
          <a href="#gallery" class="events__item-link">Подробнее</a>
        </div>
      </article>
    </div>
  </div>
</section>
