<section class="gallery" id="gallery">
  <div class="container gallery__container section-container">
    <div class="gallery__left gallery-left">
      <h2 class="title gallery__title">Галерея</h2>
      <div class="gallery-select__wrapper">
        <div class="gallery-select__title">Фильтр:</div>
        <div class="gallery-select__wrapper select" id="select-1"><select class="gallery-select">
            <option value="Автор" class="gallery-select-option">Автор</option>
            <option value="Направление" class="gallery-select-option">Направление</option>
            <option value="Техника" class="gallery-select-option">Техника</option>
          </select></div>
      </div>
    </div>
  </div>
</section>
