<section class="gallery" id="gallery">
  <div class="container gallery__container section-container">
    <div class="gallery__left gallery-left">
      <h2 class="title gallery__title">Галерея</h2>
      <div class="gallery-select__wrapper">
        <div class="gallery-select__title">Фильтр:</div>
        <div class="gallery-select__wrapper select" id="select-1">
          <select class="gallery-select">
            <option value="Автор" class="gallery-select-option">Автор</option>
            <option value="Направление" class="gallery-select-option">Направление</option>
            <option value="Техника" class="gallery-select-option">Техника</option>
          </select>
        </div>
      </div>
      <div class="gallery__left-bottom">
        <ul class="editions__categories editions__accordion-list list-reset">
          <li class="editions__accordion-item editions__categories-item" tabindex="0">
            <label class="editions__check">
              <input class="editions__check-input" type="checkbox" name="a" tabindex="-1">
              <span class="editions__checkbox-box"></span>
              <span>XIX век</span>
            </label>
          </li>
          <li class="editions__accordion-item editions__categories-item" tabindex="0">
            <label class="editions__check">
              <input class="editions__check-input" type="checkbox" name="a" tabindex="-1">
              <span class="editions__checkbox-box"></span>
              <span>XX век</span>
            </label>
          </li>
          <li class="editions__accordion-item editions__categories-item" tabindex="0">
            <label class="editions__check">
              <input class="editions__check-input" type="checkbox" name="a" tabindex="-1">
              <span class="editions__checkbox-box"></span>
              <span>Современность</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="gallery__slider swiper-container">
      <div class="slider-control">
        <button type="button" class="slider-control__arrow slider-control__arrow--prev"></button>
        <div class="slider-control__fraction"></div>
        <button type="button" class="slider-control__arrow slider-control__arrow--next"></button>
      </div>
      <div class="gallery__slider-slides swiper-wrapper">
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-1.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-2.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-3.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-4.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-5.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-6.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-7.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-8.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-9.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-10.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-11.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
        <div class="gallery__slide gallery__slider-slide swiper-slide">
          <button type="button" aria-label="нажмите, чтобы узнать про картину" data-popupName='gallery-1-1'
            class="gallery__slide-btn _popup-link">
            <img class="gallery__img" src="../img/gallery/slide-12.jpg" alt="Красивая картина, произведение искусства">
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
