<div class="header__top header-top">
  <div class="container header-top__container">
    <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
    </button>
    <a href="" class="header-top__logo">
      <img src="../img/logo.png" alt="Логотип Blanchard">
    </a>
    <form class="search search--mobile">
      <button class="btn-reset search__btn search__btn--mobile" type="submit" aria-label="Поиск по сайту">
        <svg width="23" height="22" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.938 15.653L0 20.427l1.234 1.194 4.938-4.774z" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.097 18c-4.567 0-8.1-3.677-8.1-8s3.533-8 8.1-8c4.566 0 8.1 3.677 8.1 8s-3.534 8-8.1 8zm0 2c-5.523 0-10-4.477-10-10s4.477-10 10-10 10 4.477 10 10-4.477 10-10 10z" />
        </svg>
      </button>
      <input type="text" class="search__input input" id="search-mobile" placeholder="Поиск по сайту">
      <button class="btn-reset search__close"></button>
    </form>
    <nav class="menu header-top__menu" data-menu>
      <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
      <ul class="menu__list list-reset ">
        <li class="menu__item"><a href="#about" class="menu__link" data-menu-item data-scroll>О нас</a></li>
        <li class="menu__item"><a href="#gallery" class="menu__link" data-menu-item data-scroll>Галерея</a></li>
        <li class="menu__item"><a href="#catalog" class="menu__link" data-menu-item data-scroll>Каталог</a></li>
        <li class="menu__item"><a href="#events" class="menu__link" data-menu-item data-scroll>События</a></li>
        <li class="menu__item"><a href="#projects" class="menu__link" data-menu-item data-scroll>Проекты</a></li>
        <li class="menu__item"><a href="#contacts" class="menu__link" data-menu-item data-scroll>Контакты</a>
        </li>
      </ul>
      <button class="btn-reset menu__btn">
        <svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M5.12056 9.09278L6.13889 10.1111L9.75 6.5L6.13889 2.88889L5.12056 3.90722L6.98389 5.77778H0V7.22222H6.98389L5.12056 9.09278ZM11.5556 0H1.44444C0.642778 0 0 0.65 0 1.44444V4.33333H1.44444V1.44444H11.5556V11.5556H1.44444V8.66667H0V11.5556C0 12.35 0.642778 13 1.44444 13H11.5556C12.35 13 13 12.35 13 11.5556V1.44444C13 0.65 12.35 0 11.5556 0Z" />
        </svg>
        Войти
      </button>
    </nav>
  </div>
</div>
