<header class="header">
  <div class="header__top header-top">
    <div class="container header-top__container">
      <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <a href="" class="header-top__logo">
        <img src="../img/logo.png" alt="Логотип Blanchard">
      </a>
      <form class="search search--mobile">
        <button class="btn-reset search__btn search__btn--mobile" type="submit" aria-label="Поиск по сайту">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
        <input type="text" class="search__input input" id="search-mobile" placeholder="Поиск по сайту">
        <button class="btn-reset search__close"></button>
      </form>
      <nav class="menu header-top__menu" data-menu>
        <button class="btn-reset burger-close" aria-label="Закрыть меню" data-menu-close></button>
        <ul class="menu__list list-reset ">
          <li class="menu__item"><a href="#about" class="menu__link link" data-menu-item data-scroll>О нас</a></li>
          <li class="menu__item"><a href="#gallery" class="menu__link link" data-menu-item data-scroll>Галерея</a></li>
          <li class="menu__item"><a href="#catalog" class="menu__link link" data-menu-item data-scroll>Каталог</a></li>
          <li class="menu__item"><a href="#events" class="menu__link link" data-menu-item data-scroll>События</a></li>
          <li class="menu__item"><a href="#projects" class="menu__link link" data-menu-item data-scroll>Проекты</a></li>
          <li class="menu__item"><a href="#contacts" class="menu__link link" data-menu-item data-scroll>Контакты</a>
          </li>
        </ul>
        <button class="btn-reset menu__btn">
          <svg class="">
            <use xlink:href="img/sprite.svg#login"></use>
          </svg>
          Войти
        </button>
      </nav>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container header-bottom__container">
      <ul class="header-bottom__select list-reset">
        <li class="header-select header-select--realism">
          <div class="header-select__top" tabindex="0" role="combobox" aria-label="реализм" aria-expanded="false">
            Реализм
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <div class="header-select__dropdown">
            <ul class="header-select__list">
              <li class="header-select__item header-select__item-1">Дадлез</li>
              <li class="header-select__item header-select__item-2">Ерёмин</li>
            </ul>
          </div>
        </li>
        <li class="header-select header-select--impressionism">
          <div class="header-select__top" role="combobox" tabindex="0" aria-label="импрессионизм" aria-expanded="false">
            Импрессионизм
            <svg>
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <div class="header-select__dropdown">
            <ul class="header-select__list">
              <li class="header-select__item header-select__item-3">Мане</li>
              <li class="header-select__item header-select__item-4">Моне</li>
              <li class="header-select__item header-select__item-5">Ренуар</li>
              <li class="header-select__item header-select__item-6">Дега</li>
              <li class="header-select__item header-select__item-3">Моризо</li>
              <li class="header-select__item header-select__item-4">Писсарро</li>
            </ul>
          </div>
        </li>
        <li class="header-select header-select--post-impressionism">
          <div class="header-select__top" role="combobox" tabindex="0" aria-label="постимпрессионизм"
            aria-expanded="false">Постимпрессионизм
            <svg>
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <div class="header-select__dropdown">
            <ul class="header-select__list">
              <li class="header-select__item header-select__item-7">Сезанн</li>
              <li class="header-select__item header-select__item-8">Дюбуа-Пилле</li>
              <li class="header-select__item header-select__item-9">Гоген</li>
              <li class="header-select__item header-select__item-10">Мырквичка</li>
              <li class="header-select__item header-select__item-7">Ангран</li>
              <li class="header-select__item header-select__item-9">Ван Гог</li>
            </ul>
          </div>
        </li>
        <li class="header-select header-select--vanguard">
          <div class="header-select__top" role="combobox" tabindex="0" aria-label="авангард" aria-expanded="false">
            Авангард
            <svg>
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <div class="header-select__dropdown">
            <ul class="header-select__list">
              <li class="header-select__item  header-select__item-11">Малевич</li>
              <li class="header-select__item  header-select__item-12">Кандинский</li>
              <li class="header-select__item  header-select__item-13">Татлин</li>
              <li class="header-select__item  header-select__item-14">Родченко</li>
              <li class="header-select__item  header-select__item-11">Гончарова</li>
              <li class="header-select__item  header-select__item-12">Попова</li>
            </ul>
          </div>
        </li>
        <li class="header-select header-select--futurism">
          <div class="header-select__top" role="combobox" tabindex="0" aria-label="футуризм" aria-expanded="false">
            Футуризм
            <svg>
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <div class="header-select__dropdown">
            <ul class="header-select__list">
              <li class="header-select__item header-select__item-15">Тинторетто</li>
              <li class="header-select__item header-select__item-16">Фридрих</li>
              <li class="header-select__item header-select__item-17">Леонардо</li>
              <li class="header-select__item header-select__item-18">Вероккьо</li>
              <li class="header-select__item header-select__item-15">Бала</li>
              <li class="header-select__item header-select__item-16">Боччиони</li>
            </ul>
          </div>
        </li>
      </ul>
      <form class="header-bottom__search search">
        <button class="btn-reset search__btn" type="submit" aria-label="поиск по сайту">
          <svg>
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
        <input type="search" id="search" class="search__input input" placeholder="Поиск по сайту">
      </form>
    </div>
  </div>
</header>
