<div class="header__bottom">
  <div class="container header-bottom__container">
    <ul class="header-bottom__select list-reset">
      <li class="header-select__realism header-select">
        <div class="header-select__top" tabindex="0" role="combobox" aria-label="реализм" aria-expanded="false">
          Реализм
          <svg>
            <use xlink:href="img/sprite.svg#arrow"></use>
          </svg>
        </div>
        <div class="header-select__dropdown">
          <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
            <li class="header-select__item header-select__item--1">
              <a href="#" class="header-select__link">Дадлез</a>
            </li>
            <li class="header-select__item header-select__item--2">
              <a href="#" class="header-select__link">Ерёмин</a>
            </li>
            <li class="header-select__item header-select__item--3">
              <a href="#" class="header-select__link">Мане</a>
            </li>
            <li class="header-select__item header-select__item--4">
              <a href="#" class="header-select__link">Моне</a>
            </li>
      </li>
    </ul>
  </div>
  </li>
  <li class="header-select__impressionism header-select">
    <div class="header-select__top" role="combobox" tabindex="0" aria-label="импрессионизм" aria-expanded="false">
      Импрессионизм
      <svg>
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="header-select__dropdown">
      <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
        <li class="header-select__item header-select__item--5">
          <a href="#" class="header-select__link">Писсарро</a>
        </li>
        <li class="header-select__item header-select__item--6">
          <a href="#" class="header-select__link">Мане</a>
        </li>
        <li class="header-select__item header-select__item--7">
          <a href="#" class="header-select__link">Моне</a>
        </li>
        <li class="header-select__item header-select__item--8">
          <a href="#" class="header-select__link">Ренуар</a>
        </li>
      </ul>
    </div>
  </li>

  <li class="header-select__post-impressionism header-select">
    <div class="header-select__top" role="combobox" tabindex="0" aria-label="постимпрессионизм" aria-expanded="false">
      Постимпрессионизм
      <svg>
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="header-select__dropdown">
      <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
        <li class="header-select__item header-select__item--9">
          <a href="#" class="header-select__link">Сезанн</a>
        </li>
        <li class="header-select__item header-select__item--10">
          <a href="#" class="header-select__link">Дюбуа-Пилле</a>
        </li>
        <li class="header-select__item header-select__item--11">
          <a href="#" class="header-select__link">Гоген</a>
        </li>
        <li class="header-select__item header-select__item--12">
          <a href="#" class="header-select__link">Мырквичка</a>
        </li>
      </ul>
    </div>
  </li>

  <li class="header-select__vanguard header-select">
    <div class="header-select__top" role="combobox" tabindex="0" aria-label="авангард" aria-expanded="false">
      Авангард
      <svg>
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="header-select__dropdown">
      <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
        <li class="header-select__item header-select__item--13">
          <a href="#" class="header-select__link">Малевич</a>
        </li>
        <li class="header-select__item header-select__item--14">
          <a href="#" class="header-select__link">Кандинский</a>
        </li>
        <li class="header-select__item header-select__item--15">
          <a href="#" class="header-select__link">Татлин</a>
        </li>
        <li class="header-select__item header-select__item--16">
          <a href="#" class="header-select__link">Родченко</a>
        </li>
      </ul>
    </div>
  </li>

  <li class="header-select__futurism header-select">
    <div class="header-select__top" role="combobox" tabindex="0" aria-label="футуризм" aria-expanded="false">
      Футуризм
      <svg>
        <use xlink:href="img/sprite.svg#arrow"></use>
      </svg>
    </div>
    <div class="header-select__dropdown">
      <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
        <li class="header-select__item header-select__item--17">
          <a href="#" class="header-select__link">Тинторетто</a>
        </li>
        <li class="header-select__item header-select__item--18">
          <a href="#" class="header-select__link">Фридрих</a>
        </li>
        <li class="header-select__item header-select__item--19">
          <a href="#" class="header-select__link">Леонардо</a>
        </li>
        <li class="header-select__item header-select__item--20">
          <a href="#" class="header-select__link">Вероккьо</a>
        </li>
      </ul>
    </div>
  </li>
  </ul>
  <form class="header-bottom__search search">
    <button class="btn-reset search__btn" type="submit" aria-label="поиск по сайту">
      <svg>
        <use xlink:href="img/sprite.svg#search"></use>
      </svg>
    </button>
    <input type="search" id="search" class="search__input input" placeholder="Поиск по сайту">
  </form>
</div>
</div>
