<div class="header__bottom">
  <div class="container header-bottom__container">
    <ul class="header-bottom__select list-reset">
      <li class="header-select__realism header-select">
        <div class="header-select__top" tabindex="0" role="combobox" aria-label="реализм" aria-expanded="false">
          Реализм
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="284.935px" height="284.936px" viewBox="0 0 284.935 284.936"
            style="enable-background:new 0 0 284.935 284.936;" xml:space="preserve">
            <g>
              <path
                d="M222.701,135.9L89.652,2.857C87.748,0.955,85.557,0,83.084,0c-2.474,0-4.664,0.955-6.567,2.857L62.244,17.133
  c-1.906,1.903-2.855,4.089-2.855,6.567c0,2.478,0.949,4.664,2.855,6.567l112.204,112.204L62.244,254.677
  c-1.906,1.903-2.855,4.093-2.855,6.564c0,2.477,0.949,4.667,2.855,6.57l14.274,14.271c1.903,1.905,4.093,2.854,6.567,2.854
  c2.473,0,4.663-0.951,6.567-2.854l133.042-133.044c1.902-1.902,2.854-4.093,2.854-6.567S224.603,137.807,222.701,135.9z" />
            </g>
          </svg>
        </div>
        <div class="header-select__dropdown">
          <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
            <li class="header-select__item header-select__item--1">
              <a href="#" class="header-select__link">Дадлез</a>
            </li>
            <li class="header-select__item header-select__item--2">
              <a href="#" class="header-select__link">Ерёмин</a>
            </li>
            <li class="header-select__item header-select__item--3">
              <a href="#" class="header-select__link">Мане</a>
            </li>
            <li class="header-select__item header-select__item--4">
              <a href="#" class="header-select__link">Моне</a>
            </li>
      </li>

      </li>
      <li class="header-select__impressionism header-select">
        <div class="header-select__top" role="combobox" tabindex="0" aria-label="импрессионизм" aria-expanded="false">
          Импрессионизм
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="284.935px" height="284.936px" viewBox="0 0 284.935 284.936"
            style="enable-background:new 0 0 284.935 284.936;" xml:space="preserve">
            <g>
              <path
                d="M222.701,135.9L89.652,2.857C87.748,0.955,85.557,0,83.084,0c-2.474,0-4.664,0.955-6.567,2.857L62.244,17.133
  c-1.906,1.903-2.855,4.089-2.855,6.567c0,2.478,0.949,4.664,2.855,6.567l112.204,112.204L62.244,254.677
  c-1.906,1.903-2.855,4.093-2.855,6.564c0,2.477,0.949,4.667,2.855,6.57l14.274,14.271c1.903,1.905,4.093,2.854,6.567,2.854
  c2.473,0,4.663-0.951,6.567-2.854l133.042-133.044c1.902-1.902,2.854-4.093,2.854-6.567S224.603,137.807,222.701,135.9z" />
            </g>
          </svg>
        </div>
        <div class="header-select__dropdown">
          <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
            <li class="header-select__item header-select__item--5">
              <a href="#" class="header-select__link">Писсарро</a>
            </li>
            <li class="header-select__item header-select__item--6">
              <a href="#" class="header-select__link">Мане</a>
            </li>
            <li class="header-select__item header-select__item--7">
              <a href="#" class="header-select__link">Моне</a>
            </li>
            <li class="header-select__item header-select__item--8">
              <a href="#" class="header-select__link">Ренуар</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="header-select__post-impressionism header-select">
        <div class="header-select__top" role="combobox" tabindex="0" aria-label="постимпрессионизм"
          aria-expanded="false">
          Постимпрессионизм
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="284.935px" height="284.936px" viewBox="0 0 284.935 284.936"
            style="enable-background:new 0 0 284.935 284.936;" xml:space="preserve">
            <g>
              <path
                d="M222.701,135.9L89.652,2.857C87.748,0.955,85.557,0,83.084,0c-2.474,0-4.664,0.955-6.567,2.857L62.244,17.133
  c-1.906,1.903-2.855,4.089-2.855,6.567c0,2.478,0.949,4.664,2.855,6.567l112.204,112.204L62.244,254.677
  c-1.906,1.903-2.855,4.093-2.855,6.564c0,2.477,0.949,4.667,2.855,6.57l14.274,14.271c1.903,1.905,4.093,2.854,6.567,2.854
  c2.473,0,4.663-0.951,6.567-2.854l133.042-133.044c1.902-1.902,2.854-4.093,2.854-6.567S224.603,137.807,222.701,135.9z" />
            </g>
          </svg>
        </div>
        <div class="header-select__dropdown">
          <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
            <li class="header-select__item header-select__item--9">
              <a href="#" class="header-select__link">Сезанн</a>
            </li>
            <li class="header-select__item header-select__item--10">
              <a href="#" class="header-select__link">Дюбуа-Пилле</a>
            </li>
            <li class="header-select__item header-select__item--11">
              <a href="#" class="header-select__link">Гоген</a>
            </li>
            <li class="header-select__item header-select__item--12">
              <a href="#" class="header-select__link">Мырквичка</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="header-select__vanguard header-select">
        <div class="header-select__top" role="combobox" tabindex="0" aria-label="авангард" aria-expanded="false">
          Авангард
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="284.935px" height="284.936px" viewBox="0 0 284.935 284.936"
            style="enable-background:new 0 0 284.935 284.936;" xml:space="preserve">
            <g>
              <path
                d="M222.701,135.9L89.652,2.857C87.748,0.955,85.557,0,83.084,0c-2.474,0-4.664,0.955-6.567,2.857L62.244,17.133
  c-1.906,1.903-2.855,4.089-2.855,6.567c0,2.478,0.949,4.664,2.855,6.567l112.204,112.204L62.244,254.677
  c-1.906,1.903-2.855,4.093-2.855,6.564c0,2.477,0.949,4.667,2.855,6.57l14.274,14.271c1.903,1.905,4.093,2.854,6.567,2.854
  c2.473,0,4.663-0.951,6.567-2.854l133.042-133.044c1.902-1.902,2.854-4.093,2.854-6.567S224.603,137.807,222.701,135.9z" />
            </g>
          </svg>
        </div>
        <div class="header-select__dropdown">
          <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
            <li class="header-select__item header-select__item--13">
              <a href="#" class="header-select__link">Малевич</a>
            </li>
            <li class="header-select__item header-select__item--14">
              <a href="#" class="header-select__link">Кандинский</a>
            </li>
            <li class="header-select__item header-select__item--15">
              <a href="#" class="header-select__link">Татлин</a>
            </li>
            <li class="header-select__item header-select__item--16">
              <a href="#" class="header-select__link">Родченко</a>
            </li>
            <li class="header-select__item header-select__item--14">
              <a href="#" class="header-select__link">Кандинский</a>
            </li>
            <li class="header-select__item header-select__item--15">
              <a href="#" class="header-select__link">Татлин</a>
            </li>
            <li class="header-select__item header-select__item--16">
              <a href="#" class="header-select__link">Родченко</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="header-select__futurism header-select">
        <div class="header-select__top" role="combobox" tabindex="0" aria-label="футуризм" aria-expanded="false">
          Футуризм
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" width="284.935px" height="284.936px" viewBox="0 0 284.935 284.936"
            style="enable-background:new 0 0 284.935 284.936;" xml:space="preserve">
            <g>
              <path
                d="M222.701,135.9L89.652,2.857C87.748,0.955,85.557,0,83.084,0c-2.474,0-4.664,0.955-6.567,2.857L62.244,17.133
  c-1.906,1.903-2.855,4.089-2.855,6.567c0,2.478,0.949,4.664,2.855,6.567l112.204,112.204L62.244,254.677
  c-1.906,1.903-2.855,4.093-2.855,6.564c0,2.477,0.949,4.667,2.855,6.57l14.274,14.271c1.903,1.905,4.093,2.854,6.567,2.854
  c2.473,0,4.663-0.951,6.567-2.854l133.042-133.044c1.902-1.902,2.854-4.093,2.854-6.567S224.603,137.807,222.701,135.9z" />
            </g>
          </svg>
        </div>
        <div class="header-select__dropdown">
          <ul class="header-select__list" data-simplebar data-simplebar-auto-hide="false">
            <li class="header-select__item header-select__item--17">
              <a href="#" class="header-select__link">Тинторетто</a>
            </li>
            <li class="header-select__item header-select__item--18">
              <a href="#" class="header-select__link">Фридрих</a>
            </li>
            <li class="header-select__item header-select__item--19">
              <a href="#" class="header-select__link">Леонардо</a>
            </li>
            <li class="header-select__item header-select__item--20">
              <a href="#" class="header-select__link">Вероккьо</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <form class="header-bottom__search search">
      <button class="btn-reset search__btn" type="submit" aria-label="поиск по сайту">
        <svg width="23" height="22" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.938 15.653L0 20.427l1.234 1.194 4.938-4.774z" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M12.097 18c-4.567 0-8.1-3.677-8.1-8s3.533-8 8.1-8c4.566 0 8.1 3.677 8.1 8s-3.534 8-8.1 8zm0 2c-5.523 0-10-4.477-10-10s4.477-10 10-10 10 4.477 10 10-4.477 10-10 10z" />
        </svg>
      </button>
      <input type="search" id="search" class="search__input input" placeholder="Поиск по сайту">
    </form>
  </div>
</div>