<!DOCTYPE html>
<html lang="ru" class="page">
<%= require('html-loader!./partials/head.html').default %>

<body class="page__body">
  <div class="site-container">
    <header class="header">
      <%= require('html-loader!./partials/header-top.html').default %>
      <%= require('html-loader!./partials/header-bottom.html').default %>
    </header>
    <main class="main">
      <!--Hero-->
      <%= require('html-loader!./partials/hero.html').default %>
      <!-- About -->
      <%= require('html-loader!./partials/about.html').default %>
      <!-- Gallery -->
      <%= require('html-loader!./partials/gallery.html').default %>
      <!-- Catalog -->
      <%= require('html-loader!./partials/catalog.html').default %>
      <!-- Events -->
      <%= require('html-loader!./partials/events.html').default %>
      <!-- Project -->
      <%= require('html-loader!./partials/project.html').default %>
    </main>
    <%= require('html-loader!./partials/footer.html').default %>
    <!-- <%= require('html-loader!./partials/footer.html').default %>пример include -->
  </div>
  <%= require('html-loader!./partials/popup.html').default %>
</body>

</html>
